<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-cloak>
    <md-content class="md-padding" layout="row" layout-wrap>
        <div ng-repeat="user in vm.users">
            <md-card style="width: 315px;">
                <md-card-content>
                    <h2 class="md-title">{{user.title}}</h2>

                    <p>
                        {{user.description}}
                    </p>
                </md-card-content>

                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button class="md-primary" target="_blank" ng-href="{{user.url}}">Open</md-button>
                    <md-button class="md-warn" ng-click="vm.delete(user)">Delete</md-button>
                </div>
            </md-card>
        </div>

    </md-content>
</div>
</body>
</html>