html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.md-chip {
    position: relative;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    padding-top: 10px;
    fill: #fff;
}